target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
logs/
/mooc-mini-project/mooc-mini-content/mooc-mini-content-service/logs/
/mooc-mini-project/mooc-mini-learning/mooc-mini-learning-service/logs/
/mooc-mini-project/mooc-mini-search/logs/

### VS Code ###
.vscode/